*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	//Defines what 1rem is
	font-size: 62.5%;

	@include media(tab-land) {
		font-size: 56.25%;
	}
	@include media(tab-port) {
		font-size: 50%;
	}

	@include media(phone) {
		font-size: 30%;
	}
	@include media(desktop-wide) {
		font-size: 75%;
	}
}
body {
	box-sizing: border-box;

	@include media(tab-port) {
		padding: 0;
	}
}
